a {
  color: #FFE66D;
}

h1 {
  font-size: 100px;
  line-height: 1;
}

h2 {
  font-size: 45px;
}

h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
  margin: 0;
}

h3 {
  margin-bottom: 0;
}

#education p {
  margin-bottom: 0;
}

